* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: -100%;
    transition: 0.5s ease;
}
.navigation.active{
    left: 0;
}
.menu{
    position: absolute;
    top: 10px; 
    left: 15px;
}
.menu span{
    transition: 0.5s ease;
    display: block;
    width: 30px;
    height: 5px;
    cursor: pointer;
    background-color: black;
    margin: 5px;
}
.menu.active{
    z-index: 100;
    position: fixed;
}
.menu.active span{
    background-color: white;
}
.menu.active span:nth-child(1){
    position: absolute;
    top: 15px;
    transform: rotate(45deg);
}
.menu.active span:nth-child(2){
    opacity: 0;
}
.menu.active span:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
}
.navigation ul{
    position: absolute;
    top: 50px;
    width: 100%;
}
.navigation ul li {
    width: 100%;
}
.navigation ul li a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    line-height: 30px;
}
.navigation ul li a:hover{
    color: aquamarine;
    background-color: rgba(50, 50, 100, 0.75);
}
.main{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
}
.main h2{
    color:chocolate;
    font-size: 20px;
    text-transform: uppercase;

}
.main p{
    margin-top: 10px;
    color: tomato;
    font-size: 20px;
    
}
.product{
    display: flex;
    margin-top: 30px;
}
.box{
    width: 100%;
    height: 300px;
}
.box1{
    background-color: chocolate;
}
.box2{
    background-color: aquamarine;
}
.box3{
    background-color: burlywood;
}
@media screen and (max-width: 900px){
    .main h2{
        color:chocolate;
        font-size: 16px;
        text-transform: uppercase; 
    }
    .main p{
        font-size: 14px;    
    }
    .product{
        flex-direction: column;
    }
    .box{
        max-height: 200px;
    }
}